body {
    background-color: #222;
    color: #ddd;
}

.react-grid th,
.react-grid td {
    border-bottom: 1px solid #ccc;
}

.pagination a {
    color: #999;
}

.pagination a.active {
    font-weight: bold;
    color: #ddd;
}